<%- include('./headere.ejs')%>
<div class="mx-auto">
  <!-- slider -->
  <div class="slider w-full h-50">
    <div class="slide w-100">
      <img src="https://t4.ftcdn.net/jpg/03/17/25/45/360_F_317254576_lKDALRrvGoBr7gQSa1k4kJBx7O2D15dc.webp" class="w-full h-50" alt="Slide 1">
    </div>
  </div>
</div>
<!-- intro section -->
<div class="container mx-auto p-4">
  <h1 class="text-4xl font-bold text-blue-700 underline text-center">Welcome to MyWebsite</h1>
  <p class="text-lg text-gray-600 text-center mt-4">Discover the best online shopping experience with MyWebsite. Shop for the latest fashion, electronics, and more.</p>
</div>
<%- include('./footer.ejs')%>